VITE_GOOGLE_CLIENT_ID=
WFCHAT_PUBLIC_HOST=10.42.17.228

VOICEVOX_SPEAKER_ID=23
VOICEVOX_CREDIT=VOICEVOX: WhiteCUL
VOICEVOX_SPEED_SCALE=1.20
VOICEVOX_PITCH_SCALE=
VOICEVOX_INTONATION_SCALE=
VOICEVOX_VOLUME_SCALE=
VOICEVOX_PRE_PHONEME_LENGTH=
VOICEVOX_POST_PHONEME_LENGTH=
